@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&display=swap');

:root {
  --highlight: #FBE53A;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Karla', sans-serif, -apple-system;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
