.container .title {
  margin: 3.5rem 2rem;
  display: flex;
  justify-content: center;
}

.container h1 {
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  gap: 2rem;
  padding: 0 8rem;
  align-items: center;
}

.main .divider {
  margin-top: -1rem;
  height: 400px;
  width: 0.25rem;
  background-color: #000000;
}

.main h2 {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.main section {
  height: 100%;
}

.main section p {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
}

.main .wordColumn {
  display: flex;
  flex-direction: column;
}

.main .wordColumn button {
  position: relative;
  align-self: center;
  padding: 1rem;
  margin-bottom: 3rem;
  background: #684492;
  box-shadow: 0px 5px #553180;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  user-select: none;

  font-weight: 600;
  font-size: 22px;
  color: #FCFCFC;

  transition: all 0.2s ease;
}

.main .wordColumn button:hover {
  background: #715197;
  box-shadow: 0px 4px #553180;
}

.main .wordColumn button:active {
  box-shadow: 0px 0px #553180;
  margin: 0.25rem 0 2.75rem;
}

.main .wordColumn button:focus {
  outline: none;
}

.main .genreColumn .genres a {
  display: block;
  width: max-content;
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: #000000;

  background:
     linear-gradient(
       to bottom, var(--highlight) 0%,
       var(--highlight) 100%
     );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  transition: background-size .2s;
}

.main .genreColumn .genres a:hover {
  background-size: 4px 50px;
}

.main .genreColumn .genres a:last-of-type {
  margin-bottom: 1rem;
}

.main .form {
  margin-top: 2rem;
}

.main .form a {
  font-weight: 600;
  font-size: 1.75rem;
}

@media screen and (max-width: 768px) {
  .main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    padding: 0 2rem;
    align-items: center;
  }

  .main .divider {
    display: none;
  }
}